<html lang="en">
<head>
  <title>Index Page</title>
</head>
<body>
<form action="save" method="post">
  <table>
    <tr>
      <td><label for="name">Employee Name</label></td>
      <td><input type="text" name="name"></input></td>
    </tr>
    <tr>
      <td><label for="email">Email</label></td>
      <td><input type="text" name="email"></input></td>
    </tr>
    <tr>
      <td><label for="department">Departement</label></td>
      <td><input type="text" name="department"></input></td>
    </tr>
    <tr>
      <td><label for="entryDate">Entry Date</label></td>
      <td><input type="date" name="entryDate"></input></td>
    </tr>


    <tr>
      <td></td>
      <td><input type="submit" value="Submit"></input></td>
    </tr>
  </table>
</form>
</body>
</html>